/* Icon blue bg to full width */
@media (max-width: 768px) {
  .icon-container .row-2 {
    min-width: 100%;
  }
/* Make a mobile menu */
  .nav-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;

  }

  .menu-container ul{
    display: flex;
    flex-direction: column;
  }

  .menu-container li{
    display: flex;
    flex-direction: column;
  }

  .hero-content{
    height: 50%;
  }


  .info-container .row-1,
  .info-container .row-2 {
    /* width: 100%; */
  }

/* About Page responsiveness */

.about-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container .column-1,
.about-container .column-2{
  width: 75%;
}

.testimonial{
    flex-direction: column;
    text-align: center;
    width: 75vw
  }
  

}
