/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn-primary {
  padding: 20px 30px;
  color: #fff;
  background: #252a34;
  font-weight: bold;
  width: 200px;
  text-align: center;
  border: none;
  font-size: 1.1rem;
}

.btn-primary:hover {
  background-color: #ff2e63;
}

.primary-color-accent {
  color: #ff2e63;
}

/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #252a34;
  color: #fff;
}

/* Logo Container */

.logo-container {
  padding: 20px 40px;
}

/* Menu items */

.menu-container {
  display: flex;
  align-items: stretch;
}

.menu-container ul {
  display: flex;
}
.menu-container li {
  padding: 20px 20px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-container li:hover {
  background: #ff2e63;
}

/* Active Page Menu item */
.menu-container .current-page {
  background: #ff2e63;
}

/* Hero */
.hero-container {
  background: url("img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-container * {
  z-index: 10;
}

.hero-flex-container {
  width: 100%;
  height: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.hero-content h2 {
  font-size: 3rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Homepage Info Section */

.info-container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
}

.info-container .row-1 {
  background: url(./img/photo-1.jpg) no-repeat center center/cover;
  width: 50%;
  min-width: 350px;
  flex: 1;
}

.info-container .row-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  background: #252a34;
  padding: 5%;
  text-align: center;
  color: #fff;
  flex: 1;
}

.info-container .row-2 h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.info-container .row-2 p {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.info-container .btn-primary {
  background: #fff;
  color: #252a34;
  width: 50%;
}

.info-container .btn-primary:hover {
  color: #fff;
  background-color: #08d9d6;
}

/* Ammenities */

.icon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  background: #fff;
}

.icon-container .row-1,
.icon-container .row-2,
.icon-container .row-3 {
  width: 33.333333333%;
  min-width: 300px;
  padding: 50px;
  color: #252a34;
  text-align: center;
}

.icon-container .row-2 {
  background: #08d9d6;
}

.icon-container i,
.icon-container p,
.icon-container h2 {
  margin-bottom: 10px;
}

.contact-icon-container {
  background: #08d9d6;
}

/* About Page */

.about-bg {
  background: #252a34;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  background: #fff;
}
.about-container {
  color: #252a34;

  width: 50%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.about-container .column-1 {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container .column-2 {
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
}

.about-container .column-1 h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.about-container .column-1 p {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.about-container .column-2 img {
  width: 300px;
  border-radius: 5px;
}

/* Testimonials  */

.testimonial-container {
  background: url("img/testimonial-bg.jpg") no-repeat center center/cover;
  position: relative;
}

.testimonial-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.testimonial-container * {
  z-index: 10;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
}

.testimonial {
  display: flex;
  align-items: center;
  background: #cceabb;
  color: #252a34;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  line-height: 1.5rem;
  width: 50vw;
}

.testimonial-container h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.testimonial-avatar img {
  width: 100px;
  border-radius: 50%;
}

.testimonial-text {
  padding: 0 30px;
}

/* Contact Page */

/* Form */

.form-wrapper {
  display: flex;
  flex: 1 1 80%;
  justify-content: center;
}

.form-container {
  color: #252a34;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.form-container p {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer */

.footer-container {
  background: #252a34;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container p {
  color: #fff;
}
